!!!
%html{:lang => 'eng'}
  %body
    .main{style: 'text-align: center;'}
      #header
        %h1  Hey, I have a great idea for a startup!
      #great-idea
        %h1 It's like #{existing_company} for #{nouns}
